<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<footer th:fragment="footer">
    <ul class="powered-list">
        <li class="codeup-link">Proudly powered by <a href="https://codeup.com">Codeup</a></li>
        <li>
            <div class="dropdown codey-container">
                <a aria-expanded="false" aria-haspopup="true" class="dropdown codey-link" data-toggle="dropdown" href="#"
                   id="dropdownMenuLink" role="button">
                    <img alt="Codey Duck" class="codey-duck-img" src="/images/codey.png">
                </a>

                <div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
                    <a class="dropdown-item" href="https://alumni.codeup.com/students/752">Robert Rutherford</a>
                    <a class="dropdown-item" href="https://alumni.codeup.com/students/747">Ethan Joiner</a>
                    <a class="dropdown-item" href="https://alumni.codeup.com/students/760">Miguel Garcia</a>
                </div>
            </div>
        </li>
    </ul>
    <ul class="menu-list">
        <li>
            <a href="/home">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/info">More Info</a>
        </li>
    </ul>
</footer>
</body>
</html>