<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #1B649A" th:fragment="navbar">
    <a class="text-light twc-logo-link" href="https://twc.texas.gov/partners/eligible-training-providers">
        <img alt="twc-logo" src="/images/twc-logo.png" style="width: 50px; height: 50px; border-radius: 50%">
    </a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-light" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/info">More Info</a>
            </li>
        </ul>


        <div class="nav-item dropdown ml-auto d-flex">
            <!--            <div class="d-flex align-items-center">-->
            <!--                <p th:if="${user != null}" class="mr-3 my-0" style="color: navajowhite">Logged in as : <span th:text="${user.username}"></span></p>-->
            <!--            </div>-->
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown d-flex align-items-center"
               data-toggle="dropdown"
               href="#"
               id="dropdownMenuLink"
               role="button" style="color: white">
                <p class="mr-3 my-0" style="color: navajowhite" th:if="${user != null}">Logged in as : <span
                        th:text="${user.username}"></span></p>
                <span style="font-size: 1.5em">

                        <i class="fas fa-user"></i>
                    </span>
            </a>


            <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right" th:if="${user == null}">
                <a class="dropdown-item" href="/login">Login</a>
                <a class="dropdown-item" href="/resetpassword">Forgot Password?</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/register">Register</a>
            </div>

            <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right" th:if="${user != null}">
                <form method="POST" th:action="@{/logout}">
                    <button class="dropdown-item">Logout</button>
                </form>
            </div>
        </div>
    </div>
</nav>

</body>
</html>