<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="side-nav-container" th:fragment="side-nav">
    <div class="side-nav">
        <ul>
            <li>
                <div class="accordion" id="accordionExample">
                    <a href="/message/new" style="border: none">

                        <div class="card">
                            <div class="card-header" id="headingOne">


                                <span class="test d-flex justify-content-between align-items-center">Messages <span
                                        class="badge badge-danger d-flex align-items-center"
                                        style="height: 80%; border-radius: 50%"
                                        th:if="${unread != null && unread > 0}"
                                        th:text="${unread}"></span></span>

                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <a href="/submission">
                    <div class="card">
                        <div class="card-header">
                            <span>Submissions</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <div class="accordion" id="excelQuickDownload">
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <button aria-controls="collapseThree" aria-expanded="true" class="btn collapsed"
                                    data-target="#collapseThree"
                                    data-toggle="collapse" type="button">
                                <span class="test">Quick Download</span>
                            </button>
                        </div>
                        <div aria-labelledby="headingThree" class="collapse" data-parent="#accordionExample"
                             id="collapseThree">
                            <div class="card-body">
                                <br>
                                <form th:action="@{|/download/All|}" th:if="${user.isAdmin()}" th:method="POST">
                                    <button class="btn btn-link btn-lg btn-block" th:action="submit">All</button>
                                    <hr>
                                </form>
                                <form th:action="@{|/download/Approved|}" th:method="POST">
                                    <button class="btn btn-link btn-lg btn-block" th:action="submit">Approved
                                    </button>
                                    <hr>
                                </form>
                                <form th:action="@{|/download/Pending|}" th:method="POST">
                                    <button class="btn btn-link btn-lg btn-block" th:action="submit">Pending
                                    </button>
                                    <hr>
                                </form>
                                <form th:action="@{|/download/Expired|}" th:method="POST">
                                    <button class="btn btn-link btn-lg btn-block" th:action="submit">Expired
                                    </button>
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>
</html>