<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="side-nav" class="side-nav-container">
    <div class="side-nav">
        <ul>
            <li><div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            <span class="test">Messages <span th:text="${unread}" class="badge badge-danger"></span>
                        </button>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <a href="/messages/in">Inbox</span></a>
                            <a href="/messages/out">Outbox</a>
                            <a href="/message/create">New Message</a>
                        </div>

                    </div>
                </div>
            </div></li>
            <li><a href="/submission">
                <div class="card">
                    <div class="card-header">
                        <span>Submissions</span>
                    </div>
                </div>
            </a></li>
<!--            <li><div class="card-body" th:if="${user.isAdmin()}">-->
            <li><div class="card-body">
                <h5>Download excels:</h5>
                <form th:method="POST" th:action="@{|/download/All|}" th:if="${user.isAdmin()}">
                    <button th:action="submit">All</button>
                </form>
                <form th:method="POST" th:action="@{|/download/Approved|}">
                    <button th:action="submit">Approved</button>
                </form>
                <form th:method="POST" th:action="@{|/download/Pending|}">
                    <button th:action="submit">Pending</button>
                </form>
                <form th:method="POST" th:action="@{|/download/Expired|}">
                    <button th:action="submit">Expired</button>
                </form>
            </div></li>
        </ul>
    </div>
</div>

</body>
</html>