<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Login')"></head>
<style>
    main {
        margin-top: 2em;
    }
    .extra-buttons {
        text-align: center;
        margin: 1em 0;
    }
    .extra-buttons-container {
        border: 1px solid grey;
        border-radius: 1em;
        padding: 0 1em;
    }
</style>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<main>
    <div class="mx-auto" style="width: 20em">
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" name="forgot" class="btn btn-success btn-block">Login</button>
        </form>
        <div class="card-body">
            <form action="" class="extra-buttons-container">
                <div class="extra-buttons">
                <label for="reset">Forgot your password?</label>
                <input type="submit" name="reset" id="reset" class="btn btn-primary btn-block" value="Reset Password">
                </div>
                <div class="extra-buttons">
                    <label for="register">Create an account</label>
                    <input type="submit" name="register" id="register" class="btn btn-info btn-block" value="Register">
                </div>
            </form>
        </div>
    </div>
</main>

<th:block th:replace="partials/scripts">
</body>
</html>