<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head('Login')"></th:block>
    <link href="css/login.css" rel="stylesheet">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<main>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div class="mx-auto login-form" style="width: 20em">
        <form method="POST" th:action="@{/login}">
            <div class="form-group">
                <label for="userName">Username</label>
                <input aria-describedby="emailHelp" class="form-control" id="userName" name="username" type="text">

            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password">
            </div>
            <button class="btn btn-success btn-block" name="forgot" type="submit">Login</button>
        </form>
        <div class="card-body">
            <form action="" class="extra-buttons-container">
                <div class="extra-buttons">
                    <label for="reset">Forgot your password?</label>
                    <input class="btn btn-primary btn-block" id="reset" name="reset" type="submit"
                           value="Reset Password">
                </div>
                <div class="extra-buttons">
                    <label for="register">Create an account</label>
                    <input class="btn btn-info btn-block" id="register" name="register" type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
</main>

<footer th:replace="partials/footer :: footer"></footer>

<th:block th:replace="partials/scripts">
</body>
</html>