<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="partials/head :: head('Login')"></th:block>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<main>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div class="mx-auto login-form" style="width: 20em">
        <form th:action="@{/login}" method="POST">
            <div class="form-group">
                <label for="userName">Username</label>
                <input type="text" class="form-control" id="userName" aria-describedby="emailHelp" name="username">

            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" name="forgot" class="btn btn-success btn-block">Login</button>
        </form>
        <div class="card-body">
            <form action="" class="extra-buttons-container">
                <div class="extra-buttons">
                <label for="reset">Forgot your password?</label>
                <input type="submit" name="reset" id="reset" class="btn btn-primary btn-block" value="Reset Password">
                </div>
                <div class="extra-buttons">
                    <label for="register">Create an account</label>
                    <input type="submit" name="register" id="register" class="btn btn-info btn-block" value="Register">
                </div>
            </form>
        </div>
    </div>
</main>

<footer th:replace="partials/footer :: footer"></footer>

<th:block th:replace="partials/scripts">
</body>
</html>