<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="/partials/head :: head('User Profile')"></th:block>
</head>
<body>

<nav th:replace="/partials/navbar :: navbar"></nav>

<div>
    <p>
        profile page here
    </p>

    <div th:if="${unread == 1}">
        <p>You have <span th:text="${unread}"></span> unread message!</p>
    </div>
    <div th:if="${unread > 1}">
        <p>You have <span th:text="${unread}"></span> unread messages!</p>
    </div>

    <form th:action="@{/messages}">
        <button>View Messages</button>
    </form>
</div>

<main>
    <div>
        <p>
            profile page here
        </p>
    </div>
</main>

<footer th:replace="/partials/footer :: footer"></footer>

<th:block th:replace="partials/scripts"></th:block>
</body>
</html>