.page-header {
    text-align: center;
    margin-top: .5em;
}

.project-description {
    width: calc(100vw - 20%);
    text-align: center;
    margin: 1em auto;
    font-size: 14pt;
}

hr {
    width: calc(100vw - 20%);
}

.team-header {
    text-align: center;
}

.member-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1em;
    justify-items: center;
    margin: 1em;
}

.member {
    width: 15em;
    height: auto;
    border: 1px solid grey;
    border-radius: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-items: center;
    grid-row-gap: .5em;
    box-shadow: 5px 10px 5px grey;
    font-weight: bold;
}

.member-image {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    grid-area: 1 / 1 / 2 / 4;
    margin-top: .5em;
    box-shadow: 0 7px 7px -2px grey;
}

.member > span {
    grid-area: 2 / 1 / 3 / 4;
    margin-top: .5em;
}

.member a {
    width: auto;
    margin: 1em;
}

.member a:nth-child(3) {
    grid-area: 3 / 1 / 4 / 2;
}
.member a:nth-child(4) {
    grid-area: 3 / 2 / 4 / 3;
}
.member a:nth-child(5) {
    grid-area: 3 / 3 / 4 / 4;
}

.profile-logo {
    width: 50px;
    height: 50px;
    justify-self: center;
}

