footer {
    grid-area: 3 / 1 / 4 / 2;
    background-color: #E8E8E8;
    /*margin-top: 2em;*/
    min-height: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer a:link {
    color: black;
    text-decoration: none;
    padding: .5em;
}

footer a:visited {
    color: black;
}

footer a:hover {
    color: #769E48;
}

/* Powered By Codeup */
.powered-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

.codeup-link a:link {
    color: #769E48;
    padding: 0;
}

.codeup-link a:visited {
    color: #769E48;
}

.codey-container a:link {
    /*color: #8AC152;*/
    color: #688b3a;
}

.codey-container a:visited {
    color: #8AC152;
}

.codey-container a:hover {
    color: #FFC314;
}

.codey-link {
    cursor: default;
}

.codey-duck-img {
    height: 2em;
    width: auto;
}

/* Site Navigation Footer*/
.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
}

.menu-list li {
    margin: 0 .5em;
}

