h1, h2, h3, h4, h5, h6 {
    color: #0E2E49;
}

.main-content {
    /*margin: 0 .5em;*/
}

.jumbotron {
    background-image: url(/images/bluebonnet7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
}

.jumbotron h1 {
    display: inline-block;
    color: white;
    text-shadow: 2px 2px black;
    /*-webkit-text-stroke: 1px #8AC152;*/
    background-color: rgba(191, 191, 191, .6);
    border-radius: .25em;
    padding: 0 .5em;
}

/* ===== CAROUSEL ===== */
.carousel-item > img {
    vertical-align: middle;
    border-style: none;
    margin: 0 auto;
    width: 65em;
    height: 22em;
}

/* ====== Provided Services ====== */
.service-container {
    display: flex;
    flex-direction: column;
}

.service-container h2 {
    display: inline-block;
    margin: 0 auto;
}

.service-container > h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service-container > h2:before,
.service-container > h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.service-container > h2:after {
    margin: 0 0 0 20px;
}

.service-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

.service-title:before,
.service-title:after {
    content: '';
    border-top: 2px solid #FFC314;
    margin: 0 20px 0 20px;
    flex: 1 0 20px;
}

/*.service-title {*/
/*    margin: 0 0 0 20px;*/
/*}*/

.services {
    display: grid;
}

/* Controls even and odd div containers */
.services > div {
    min-height: 10em;
    border-radius: 1em;
}

.services p {
    justify-self: center;
    align-self: center;
    font-size: 14pt;
    padding: 1em;
    border-radius: 1em;
    margin: 1em;
    text-align: center;
}

.services div:nth-child(odd) p {
    grid-area: 1 / 2 / 2 / 3;
    background-color: rgba(27, 100, 154, .6);
    color: #FFFFFF;
    border: 3px solid #FFC314;
}

.services div:nth-child(even) p {
    grid-area: 1 / 1 / 2 / 2;
    background-color: white;
    color: #0E2E49;
    border: 3px solid #C0C0C0;

}

.services > div:nth-child(odd) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
}

.services > div:nth-child(even) {
    background: linear-gradient(0deg, #8AC152, white);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
}

/* Controls even and odd images */
.services div:nth-child(odd) > img {
    grid-area: 1 / 1 / 2 / 2;
}

.services div:nth-child(even) > img {
    grid-area: 1 / 2 / 2 / 3;
}

.services div:nth-child(3) > img {
    width: 12em;
}

.service-img {
    width: 5em;
    height: auto;
    justify-self: center;
    align-self: center;
}

/* Carousel Styling */
.provider-clients {
    width: calc(100vw - 12em);
    min-width: 20em;
    /*border: 1px solid red;*/
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
}

.provider-clients > h3 {
    border-bottom: 2px solid #0E2E49;
}

/* Slider */
.slick-slide {
    margin: 0 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    /*display: block;*/
    display: flex;
    align-items: center;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.background-show {
    background-color: #053B68;
}

.slick-slider {
    display: table;
    table-layout: fixed;
    width: 100%;
}