.info-content-container {
    margin: 1em;
    border-radius: 1em;
    /*border: 1px solid black;*/
}

.info-content-container a:link, a:visited{
    color: #0257B3;
}
.info-content-container a:hover{
    color: #8AC152;
}

.nav-tabs .nav-link.active {
    color: #8AC152;
}

.tab-content {
    padding: 1em;
    min-height: 20em;
    border: 1px solid red;
    border-radius: 1em;
}

.nav-tab-container {
    justify-content: center;
    position: sticky;
    top: 4.3em;
    background-color: white;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-icon-container {
    border-radius: 50%;
    background-color: #12395B;
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
}

.tab-icon-container > img {
    display: inline-block;
    width: 3em;
}

/* ===== TAB UNIVERSAL ===== */
.tab-title {
    text-align: center;
    color: #12395B;
    margin-bottom: .5em;

}
/* ====== CONTACT TAB ======*/
.contact-tab {
    display: flex;
    justify-content: center;
}

.tab-content > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.workforce-question {
    font-style: italic;
}

.workforce-question a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

.workforce-question a:link, a:visited {
    color: black;
}

.workforce-question a:hover {
    text-decoration: none;
}

.workforce-solutions {
    background-color: #053B68;
    border-radius: 1em;
    padding: 2px 1em;
}

.workforce-solutions > span:nth-child(1) {
    color: #FFFFFF;
}

.workforce-solutions > span:nth-child(2) {
    color: #8AC152;
}

.workforce-solutions > span:nth-child(3) {
    color: #FFFFFF;
}

.contact-information {
    margin: 1rem 0;
    background-color: #DEEAEE;
    padding: 1em;
    border-radius: 1em;
    font-size: 14pt;
}