main {
    display: grid;
    grid-template-columns: 10.5em auto;
    grid-template-rows: auto;
    /*border: 1px solid red;*/
}

.side-nav-container {
    grid-area: 1 / 1 / 2 / 2;
    width: 10.5em;
    z-index: 1;
    top: 77px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    /*border: 1px solid green;*/
    background-color: #DEEAEE;
    position: fixed;
    height: 100%;
}

.side-nav .btn {
    font-size: 14pt;
    color: black;
    padding: 0;
}

.side-nav .btn:hover {
    color: green;
}

.side-nav .card a {
    padding: 6px 8px 6px 16px;
    border-bottom: 2px solid green;
}

.side-nav .card a:hover {
    border-color: #1B649A;
}

.side-nav .card-body {
    padding: 0 .5em;
    margin-bottom: .5em;
}

.side-nav a {
    display: block;
    text-decoration: none;
    font-size: 14pt;
    color: black;
}

.side-nav a:hover {
    color: green;
}

.side-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.side-nav li {
    margin: .1em 0;
}

.main-content {
    grid-area: 1 / 2 / 2 / 3;
}