main {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 3fr;
    grid-template-rows: 3em auto;
}

/* ===== MESSAGE NAV ===== */
.message-nav {
    border: 1px solid red;
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------- IN/OUT TOGGLE SWITCH ----------- */
.onoffswitch {
    position: relative;
    width: 115px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #949494;
    border-radius: 20px;
    margin-bottom: 0;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 35px;
    padding: 0;
    line-height: 35px;
    font-size: 16px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Inbox";
    padding-left: 10px;
    background-color: #8AC152;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "Outbox";
    padding-right: 10px;
    background-color: #34A7C1;
    color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 22px;
    margin: 8.5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 76px;
    border: 2px solid #949494;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}


/* ===== MESSAGE REEL ===== */
.message-reel {
    border: 1px solid green;
    grid-area: 2 / 1 / 3 / 2;
    overflow-y: scroll;
}

.inbox-reel,
.outbox-reel {
    height: 0;
}

/* ===== MESSAGE VIEW ===== */
.message-view {
    border: 1px solid mediumpurple;
    grid-area: 2 / 2 / 3 / 3;
}