nav {
    border-bottom: 3px solid #8AC152;
    font-size: 14pt;
    min-height: 77px;
}

.fa-user:hover
{
    color: #8AC152;
}

.twc-logo-link {
    display: inline-block;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
}

.twc-logo-link img {
    height: 3.5rem;
    width: auto;
    border-radius: 50%;
}