<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="partials/head :: head('Home')"></th:block>
    <th:block th:insert="${user != null} ? ~{partials/head :: sidenav} : ~{}"></th:block>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<main>
    <th:block th:replace="${user != null} ? ~{partials/sideNav :: side-nav} : ~{}"></th:block>

    <section class="main-content">
        <header class="container my-5">
            <div class="jumbotron">
                <h1 class="text-center display-5">Eligible Training Provider System Portal</h1>
            </div>
        </header>
    </section>
</main>

<footer th:replace="partials/footer :: footer"></footer>

<th:block th:replace="partials/scripts :: scripts">
</body>
</html>