<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="partials/head :: head('Home')"></th:block>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<main>
    <header class="container my-5">
        <div class="jumbotron">
            <h1 class="text-center display-5">Eligible Training Provider System Portal</h1>
        </div>
    </header>
</main>

<footer th:replace="partials/footer :: footer"></footer>

<th:block th:replace="partials/scripts :: scripts">
</body>
</html>