<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="partials/head :: head('Home')"></th:block>
    <th:block th:replace="${user != null} ? ~{/partials/head :: sidenav} : _"></th:block>
    <th:block th:replace="/partials/head :: index"></th:block>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<main>
    <th:block th:replace="${user != null} ? ~{/partials/sideNav :: side-nav} : _"></th:block>

    <section class="main-content">
        <header class="container my-5">
            <div class="jumbotron">
                <h1 class="text-center display-5">Eligible Training Provider System Portal</h1>
            </div>
        </header>

        <section class="container provider-clients">
            <h3>Impacted Providers</h3>
            <div class="container">
                <div class="customer-logos slider">
                    <div class="slide"><img src="/images/provider-images/audio-eng-logo.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/bmet-logo.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/bshp-logo.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/chcplogo.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/ciachef-logo.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/codeup-logo.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/concorde-logo.jpg" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/dentalassistant-logo.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/dynamicadvancement-logo-.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/goodwill-logo.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/instituteAlliedHealth.jpg" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/kaplan-logo.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/leaderQuest.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/opencloud-logo.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/sage-logo.jpg" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/samedicalassistant-logo.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/sci-logo.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/stvt-logo.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/techtalent-logo.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/theHealthCareInstitute-logo.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/tscer-logo.jpg" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/txdentalassistantschool-logo.png" alt=""></div>
                    <div class="slide"><img src="/images/provider-images/txsleepschool-logo.png" alt=""></div>
                </div>
            </div>
        </section>
    </section>
</main>

<footer th:replace="partials/footer :: footer"></footer>

<th:block th:replace="partials/scripts :: scripts"></th:block>
<th:block th:replace="partials/scripts :: carousel"></th:block>
</body>
</html>