<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="partials/head :: head('More Info')"></th:block>
    <th:block th:insert="partials/head :: info"></th:block>
    <th:block th:insert="partials/head :: sidenav" th:if="${user != 'anonymousUser'}"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<main>
    <th:block th:insert="partials/sideNav :: side-nav" th:if="${user != null}"></th:block>

    <section class="main-content">
        <div>

        </div>

        <section class="info-content-container">
            <div class="nav nav-tabs nav-tab-container" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                   aria-controls="nav-home" aria-selected="true">
                    <div class="tab-icon-container">
                        <img src="/images/submissions.svg" alt="Requirements">
                    </div>
                    <span>Requirements</span>
                </a>

                <a class="nav-item nav-link" id="nav-submissions-tab" data-toggle="tab" href="#nav-submissions"
                   role="tab"
                   aria-controls="nav-submissions" aria-selected="false">
                    <div class="tab-icon-container">
                        <img src="/images/submissions1.svg" alt="Submissions">
                    </div>
                    <span>Submissions</span>
                </a>

                <a class="nav-item nav-link" id="nav-applications-tab" data-toggle="tab" href="#nav-applications"
                   role="tab"
                   aria-controls="nav-applications" aria-selected="false">
                    <div class="tab-icon-container">
                        <img src="/images/requirements1.svg" alt="Applications">
                    </div>
                    <span>Applications</span>
                </a>

                <a class="nav-item nav-link" id="nav-nextSteps-tab" data-toggle="tab" href="#nav-nextSteps"
                   role="tab"
                   aria-controls="nav-nextSteps" aria-selected="false">
                    <div class="tab-icon-container">
                        <img src="/images/next-steps.svg" alt="Next Steps">
                    </div>
                    <span>Next Steps</span>
                </a>

                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                   aria-controls="nav-contact" aria-selected="false">
                    <div class="tab-icon-container">
                        <img src="/images/contact.svg" alt="Contact">
                    </div>
                    <span>Contact</span>
                </a>
            </div>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                     aria-labelledby="nav-home-tab">
                    <section class="requirements-tab">
                        <h1 class="tab-title lined-header">ETP Requirements</h1>
                        <div class="req-card disclaimer">
                            <h3>Interested in Becoming a WIOA Eligible Training Provider (ETP)?</h3>
                            <span>Step 1. Meet Regulatory Requirements</span>
                            <ul>
                                <li>To provide training in Texas, state law requires that the training provider is
                                    approved, regulated or, ...
                                </li>
                                <li>Qualify for a general exemption from the Proprietary School (Career Schools and
                                    Colleges)
                                </li>
                                <li> Texas Workforce Commission policy indicates that all programs certified by the WIOA
                                    Eligible Training Provider System (ETPS) also comply with applicable state law,
                                    including <a href="https://statutes.capitol.texas.gov/Docs/ED/htm/ED.132.htm"><span>Texas Education Code</span></a>
                                    Chapter 132, related to Career Schools and Colleges Department.
                                </li>
                                <li>You may contact the Career Schools and Colleges Department at (512)936-3100
                                    regarding status.
                                </li>
                            </ul>
                        </div>
                        <div class="req-card req-parent">
                            <h4>Registered Apprenticeship</h4>
                            <img src="/images/more-info-images/requirements/1.registered-apprentice.png"
                                 alt="Registered Apprenticeship" class="sub-img">
                            <div class="req-card">
                                <h4>ETP System</h4>
                                <ul>
                                    <li>The Legacy ETPS system is no longer available for external login.</li>
                                    <li>If you desire to submit programs for access to the statewide ETPL, you may
                                        submit with the Alamo (WSA) Board if the training provider is assigned to the
                                        Alamo Board.
                                        <ul>
                                            <li>List of training providers assigned is available on the Workforce
                                                Solutions Alama (WSA) Board Website.
                                            </li>
                                            <li>If your school is not listed please contact:<br>
                                                <span class="text-center">
                                                Texas Workforce Commission<br>
                                                Workforce Programs & Policy - ETP Unit<br>
                                                ETP.Helpdesk@twc.state.tx.us</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="req-card">
                                <h4>What is the Statewide ETPL?</h4>
                                <a href="https://twc.texas.gov/partners/elible-training-providers">View Eligible
                                    Training Providers</a>
                                <ul>
                                    <li>Spreadsheet updated twice monthly</li>
                                    <li>Includes all currently approved programs</li>
                                </ul>
                            </div>
                            <div class="req-card">
                                <h4>Information</h4>
                                <ul>
                                    <li>General programs information, including location and cost</li>
                                    <li>Performance Information</li>
                                </ul>
                            </div>
                            <div class="req-card">
                                <h4>Listed Cost of Programs</h4>
                                <ul>
                                    <li>The listed cost of a program on the statewide ETPL is based on average cost for
                                        non-WIOA students in general.
                                    </li>
                                    <li>Where providers and local Boards have arrangements to fund programs at different
                                        rates for WIOA students, these costs must be maintained separate from the
                                        statewide ETPL
                                    </li>
                                </ul>
                            </div>
                            <div class="req-card">
                                <h4>Board Approval?</h4>
                                <ul>
                                    <li>Statewide Approval, Local Relationship</li>
                                    <li>Listed by Country</li>
                                    <li>Local criteria for students</li>
                                </ul>
                            </div>
                            <div class="req-card">
                                <h4>Expiration?</h4>
                                <ul>
                                    <li>Created Date/Updated Date</li>
                                    <li>Eligibility reviewed
                                        <ul>
                                            <li>12-months after initial approval</li>
                                            <li>Every year following performance reporting</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="tab-pane fade submission-tab" id="nav-submissions" role="tabpanel"
                     aria-labelledby="nav-submissions-tab">
                    <h1 class="tab-title lined-header">Submitting Your Application</h1>
                    <section class="submissions-container">
                        <div class="submissions-center">
                            <div class="eligible-disclaimer">
                                <h3 class="pre-requisites">For Eligible Training Providers (ETPs) assigned to the Alamo
                                    area WSA may:</h3>
                                <ul>
                                    <li>Update information for existing ETPs and their programs;</li>
                                    <li>Add new locations, or campuses, to existing provider;</li>
                                    <li>Add new Provider programs</li>
                                    <li>Submit closure requests; and</li>
                                    <li>Add non-ETP programs -(e.g., On-the-Job trainings, other contracts)</li>
                                </ul>
                            </div>
                        </div>
                        <div class="submission-card">
                            <h3>ETPL Tools-provided to Boards For Updates & Initial Applications</h3>
                            <div class="submissions-content">
                                <h4>Board Tool-used to submit updates & initial applications (new programs) to TWC</h4>
                                <ul>
                                    <li>All programs, regardless of status</li>
                                    <li>Board-assigned based on location</li>
                                    <li>Submit new and updated programs to TWC</li>
                                    <li>Include non-ETP for TWIST</li>
                                </ul>
                                <img id="myImg" src="/images/more-info-images/submissions/1.board-tool-sample.png"
                                     alt="board tool sample" class="sub-img">
                            </div>
                        </div>
                        <div class="submission-card">
                            <h3>Overview of ETP Process</h3>
                            <div class="process-card">
                                <h4>ETP Timeline</h4>
                                <div class="etp-container">
                                    <div class="etp-process-imgs">
                                        <img src="/images/more-info-images/submissions/2.statewide-npnep.png"
                                             alt="Statewide ETPL Process - NPNEP" class="sub-img">
                                        <img src="/images/more-info-images/submissions/3.statewide-urep.png"
                                             alt="Statewide ETPL Process - UREP" class="sub-img">
                                        <img src="/images/more-info-images/submissions/4.monthly-processing-schedule.png.png"
                                             alt="Monthly Processing Schedule" class="sub-img">
                                    </div>
                                </div>
                                <ul style="margin: .5em auto">
                                    <li>Inclusion on the statewide ETPL provides programs access, not funding.</li>
                                    <li>Local Boards fund students through ITA's, in accordance with state and local
                                        policies
                                    </li>
                                </ul>

                            </div>

                        </div>
                        <div class="submission-card">
                            <div class="eligibility-card">
                                <h4>Eligibility</h4>
                                <img src="/images/more-info-images/submissions/5.eligibility.png" alt=""
                                     style="width: 25em" class="sub-img">
                            </div>
                        </div>
                    </section>
                </div>
                <div class="tab-pane fade" id="nav-applications" role="tabpanel"
                     aria-labelledby="nav-applications-tab">
                    <section class="applications-tab">
                        <h1 class="tab-title lined-header">New Program Applications</h1>
                        <div class="app-img-container">
                            <h4>Initial Application Process</h4>
                            <div class="app-img-content">
                                <img src="/images/more-info-images/applications/1.new-applications.png" alt=""
                                     class="sub-img new-app-img">
                                <img src="/images/more-info-images/applications/2.creating-application.png" alt=""
                                     class="sub-img new-app-img">
                            </div>
                        </div>
                    </section>
                </div>
                <div class="tab-pane fade" id="nav-nextSteps" role="tabpanel"
                     aria-labelledby="nav-nextstep-tab">
                    <section class="nextSteps-tab">
                        <h1 class="tab-title lined-header">ETP Next Steps</h1>
                        <div class="req-card nxt-step-container">
                            <h3>Letter of Partnerships</h3>
                            <div class="nxt-card next-center nxt-grn">
                                <h4>Submit Regulatory Evidence</h4>
                                <img src="/images/more-info-images/next-steps/1.regulatory-evidence.png" alt=""
                                     class="sub-img">
                            </div>
                            <div class="nxt-card next-center nxt-blue">
                                <h4>Employer Partnership Requirement</h4>
                                <img src="/images/more-info-images/next-steps/2.emp-partnership.png" alt=""
                                     class="sub-img">
                            </div>
                            <div class="nxt-card nxt-parent-card"
                                 style="background-color: rgba(247, 207, 121, .6); border-color: black">
                                <h4 style="color: white; border-bottom: 3px solid #8AC152">Letter of Support
                                    Requirements</h4>
                                <ul class="nxt-steps-list">
                                    <li><span class="question">Question : </span>Would <span style="font-weight: bold">one letter of Support</span>
                                        for
                                        partnership meet the requirements?
                                        <ul>
                                            <li><span class="answer">Answer : </span><span style="font-weight: bold">Yes one letter</span>
                                                of support
                                                meets these Requirements
                                            </li>
                                        </ul>
                                    </li>
                                    <li><span class="question">Question : </span>As it pertains to the employer letter
                                        of support, what exactly is the
                                        employer supporting?
                                        <ul>
                                            <li><span class="answer">Answer : </span>We are looking for letters of
                                                support from local Businesses that
                                                show that the training program will <span style="font-weight: bold">mee their need for qualified workers</span>
                                                and thus has value to the student community and local economy
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="nxt-card-slide">
                                    <div class="nxt-card" style="border: none">
                                        <img src="/images/more-info-images/next-steps/3.approvals.png" alt=""
                                             class="sub-img">
                                        <img src="/images/more-info-images/next-steps/4.twc-approval.png" alt=""
                                             class="sub-img">
                                    </div>
                                </div>
                                <div class="nxt-card nxt-grn">
                                    <h4>Student Data Report (SDR)</h4>
                                    <ul>
                                        <li>Required for most programs</li>
                                        <li>Verifiable student level</li>
                                        <li>Initial eligibility and annual reporting</li>
                                        <li>Direct to/from TWC</li>
                                    </ul>
                                </div>
                                <div class="nxt-card next-center nxt-blue">
                                    <h4>Eligible Training Providers Page</h4>
                                    <p><a href="https://twc.texas.gov/partners/eligible-training-providers">Click
                                        Here</a> to visit for additional information and tools</p>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                     aria-labelledby="nav-contact-tab">
                    <section class="contact-tab">
                        <h1 class="tab-title lined-header">Contact Information</h1>
                        <div class="inner-contact">
                            <span class="workforce-question">Please call
                            <a href="https://www.workforcesolutionsalamo.org/">
                                <span class="workforce-solutions"><span>Workforce</span> <span>Solutions</span> <span>Alamo</span></span>
                            </a>for questions.</span>
                            <p class="contact-information">
                                <span>Miriam Barksdale Botello</span><br>
                                <span>(210)581-1096</span><br>
                                <span>mbarksdale@wsalamo.org</span><br>
                            </p>
                            <p>
                                For Assistance With Your Application Contact:<br>
                                <span>Texas Workforce Commission</span><br>
                                ETP Contact:<br>
                                ETP Help Desk <span
                                    style="text-decoration: underline">etp.helpdesk@twc.state.tx.us</span>
                            </p>
                        </div>
                    </section>
                </div>
                <div id="myModal" class="modal">
                    <!-- The Close Button -->
                    <span class="close">&times;</span>
                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img01">
                    <!-- Modal Caption (Image Text) -->
                    <div id="caption"></div>
                </div>
            </div>
            <a href="#nav-tab" class="back-to-top-btn">
                <img src="/images/up-arrow.svg" alt="Back To Top Arrow">
            </a>
        </section>
    </section>
</main>

<footer th:replace="partials/footer :: footer"></footer>

<th:block th:replace="partials/scripts :: scripts"></th:block>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");


    // $(".addproduct").click(function(){
    //     // Holds the product ID of the clicked element
    //     var productId = $(this).attr('class').replace('addproduct ', '');
    //
    //     addToCart(productId);
    // });
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    $(".sub-img").click(function () {
        modal.style.display = "block";
        modalImg.src = $(this).attr('src');
        captionText.innerHTML = $(this).attr('alt');
    });
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    // var img = document.getElementById("myImg");
    // var modalImg = document.getElementById("img01");
    // var captionText = document.getElementById("caption");
    // img.onclick = function () {
    //     modal.style.display = "block";
    //     modalImg.src = this.src;
    //     captionText.innerHTML = this.alt;
    // };

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>
</body>
</html>