<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="partials/head :: head('More Info')"></th:block>
    <th:block th:insert="partials/head :: info"></th:block>
    <th:block th:replace="${user != null} ? ~{/partials/head :: sidenav} : ~{}"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<main>
    <th:block th:replace="${user != null} ? ~{/partials/sideNav :: side-nav} : ~{}"></th:block>

    <section class="main-content">
        <div>

        </div>

        <section class="info-content-container">
            <div class="nav nav-tabs nav-tab-container" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                   aria-controls="nav-home" aria-selected="true">
                    <div class="tab-icon-container">
                        <img src="/images/requirements1.svg" alt="Requirements" style="width: 3em">
                    </div>
                    <span>Requirements</span>
                </a>
                <a class="nav-item nav-link" id="nav-submissions-tab" data-toggle="tab" href="#nav-submissions"
                   role="tab"
                   aria-controls="nav-submissions" aria-selected="false">
                    <div class="tab-icon-container">
                        <img src="/images/submissions.svg" alt="Submissions">
                    </div>
                    <span>Submissions</span>
                </a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                   aria-controls="nav-contact" aria-selected="false">
                    <div class="tab-icon-container">
                        <img src="/images/contact.svg" alt="Contact">
                    </div>
                    <span>Contact</span>
                </a>
            </div>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active requirements-tab" id="nav-home" role="tabpanel"
                     aria-labelledby="nav-home-tab">
                </div>
                <div class="tab-pane fade submission-tab" id="nav-submissions" role="tabpanel"
                     aria-labelledby="nav-submissions-tab">
                    <h1 class="tab-title">Submitting Your Application</h1>
                </div>
                <div class="tab-pane fade contact-tab" id="nav-contact" role="tabpanel"
                     aria-labelledby="nav-contact-tab">
                    <h1 class="tab-title">Contact Information</h1>
                    <span class="workforce-question">Please call
                        <a href="https://www.workforcesolutionsalamo.org/">
                        <span class="workforce-solutions"><span>Workforce</span> <span>Solutions</span> <span>Alamo</span></span>
                        </a>
                         for questions.
                    </span>
                    <p class="contact-information">
                        <span>Miriam Barksdale Botello</span><br>
                        <span>(210)581-1096</span><br>
                        <span>mbarksdale@wsalamo.org</span><br>
                    </p>
                    <p>
                        For Assistance With Your Application Contact:<br>
                        <span>Texas Workforce Commission</span><br>
                        ETP Contact:<br>
                        ETP Help Desk <span style="text-decoration: underline">etp.helpdesk@twc.state.tx.us</span>
                    </p>
                </div>
            </div>
        </section>
    </section>
</main>

<footer th:replace="partials/footer :: footer"></footer>

<th:block th:replace="partials/scripts :: scripts">
</body>
</html>