<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head('Messages')"></th:block>
    <th:block th:insert="partials/head :: messageNew"></th:block>
    <!--    <th:block th:insert="${user != null} ? ~{partials/head :: sidenav} : ~{}"></th:block>-->
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<main>
    <section class="message-nav">
        <a class="btn btn-secondary rtn-sub-btn" href="/submission">
            Back to Submissions
        </a>
        <div class="onoffswitch" id="onOffSwitch">
            <input checked class="onoffswitch-checkbox" id="myonoffswitch" name="onoffswitch" type="checkbox">
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
        <form th:action="@{/message/create}">
            <button class="btn btn-primary new-msg-btn" type="submit">Create
                New Message
            </button>
        </form>
        <button class="btn btn-danger delete-msg-btn" form="deleteMessages" id="msgDelete" type="submit">Delete
            Message(s)
        </button>
    </section>
    <h4 class="reel-title" id="reel-title">Received Messages</h4>
    <section class="message-reel">
        <div class="inbox-reel" id="inbox">
            <form id="deleteMessages" th:action="@{/message/delete}">
                <div th:each="message : ${user.received}" th:if="${!message.deleted}">
                    <ul class="list-group">
                        <a style="color:black; text-decoration: none" th:href="@{|/message/${message.id}|}">
                            <li class="list-group-item msg-desc-container">
                                <div class="d-flex justify-content-start">
                                    <h4 th:text="${message.title}"></h4>
                                </div>
                                <p class="msg-description">From : <span
                                        th:text="${message.sentUser.username}"></span><br>
                                    On : <span class="timeStamp" th:text="${message.dateSent}"></span>
                                </p>
                        </a>
                        <div class="msg-select-footer">
                            <h4 class="unread" th:if="${!message.beenRead}">
                                <span class="badge badge-danger">Unread</span>
                            </h4>
                            <input class="ml-auto msg-checkbox" name="id" th:value="${message.id}" type="checkbox">
                        </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="outbox-reel" id="outbox">
            <ul class="list-group" th:each="message : ${user.sent}">
                <a style="color:black; text-decoration: none" th:href="@{|/message/${message.id}|}">
                    <div>
                        <li class="list-group-item">
                            <h4 th:text="${message.title}"></h4>
                            <p>Sent To : <span th:text="${message.receivedUser.username}"></span>
                                At :
                                <span class="timeStamp" th:text="${message.dateSent}"></span>
                            </p>
                        </li>
                    </div>
                </a>
            </ul>
        </div>
    </section>
    <section class="message-view">
        <div class="msg-view-disclaimer">
            <span>No Message Selected</span>
        </div>
    </section>
    <section class="new-msg-modal">
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog"
             tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Compose a New Message</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="newMsgForm" method="POST" th:action="@{/message/create}" th:object="${message}">
                            <div class="form-group msg-prop" th:if="${reject == null}">
                                <label class="col-form-label" for="toUser">Recipient:</label>
                                <input class="form-control" id="toUser" name="to" type="text">
                            </div>
                            <div class="form-group msg-prop" th:if="${reject != null}">
                                <label class="col-form-label" for="toUser">Recipient:</label>
                                <input class="form-control" id="reject" name="to" th:value="${reject.username}"
                                       type="text">
                            </div>
                            <div class="form-group msg-prop">
                                <label class="col-form-label" for="title">Title:</label>
                                <input class="form-control" id="title" th:field="*{title}" type="text">
                            </div>
                            <div class="form-group">
                                <!--                                <label for="message-text" class="col-form-label">Message:</label>-->
                                <textarea class="form-control msg-txt-area" id="body"
                                          placeholder="Enter your message here." th:field="*{body}"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal" type="button">Cancel</button>
                        <button class="btn btn-success" form="newMsgForm" name="forgot" type="submit">Send message
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:replace="partials/footer :: footer"></footer>

<th:block th:replace="partials/scripts :: scripts"></th:block>
<th:block th:replace="partials/scripts :: messageNew"></th:block>
</body>
</html>