<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="partials/head :: head('Messages')"></th:block>
    <th:block th:insert="partials/head :: messageNew"></th:block>
    <!--    <th:block th:insert="${user != null} ? ~{partials/head :: sidenav} : ~{}"></th:block>-->
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<main>
    <section class="message-nav">
        <a href="/submission" class="btn btn-secondary rtn-sub-btn">
            Back to Submissions
        </a>
        <div id="onOffSwitch" class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
        <form th:action="@{/message/create}">
            <button type="submit" class="btn btn-primary new-msg-btn">Create
                New Message
            </button>
        </form>
        <button id="msgDelete" type="submit" class="btn btn-danger delete-msg-btn" form="deleteMessages">Delete
            Message(s)
        </button>
    </section>
    <h4 id="reel-title" class="reel-title">Received Messages</h4>
    <section class="message-reel">
        <div id="inbox" class="inbox-reel">
            <form id="deleteMessages" th:action="@{/message/delete}">
                <div th:each="message : ${user.received}" th:if="${!message.deleted}">
                    <ul class="list-group">
                        <a th:href="@{|/message/${message.id}|}" style="color:black; text-decoration: none">
                            <li class="list-group-item msg-desc-container">
                                <div class="d-flex justify-content-start">
                                    <h4 th:text="${message.title}"></h4>
                                </div>
                                <p class="msg-description">From : <span
                                        th:text="${message.sentUser.username}"></span><br>
                                    On : <span th:text="${message.dateSent}" class="timeStamp"></span>
                                </p>
                        </a>
                        <div class="msg-select-footer">
                            <h4 th:if="${!message.beenRead}" class="unread">
                                <span class="badge badge-danger">Unread</span>
                            </h4>
                            <h4 th:if="${message.id == viewMessage.id}" class="unread">
                                <span class="badge badge-success">Viewing</span>
                            </h4>
                            <input type="checkbox" th:value="${message.id}" name="id" class="ml-auto msg-checkbox">
                        </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div id="outbox" class="outbox-reel">
            <ul th:each="message : ${user.sent}" class="list-group">
                <a th:href="@{|/message/${message.id}|}" style="color:black; text-decoration: none">
                    <div>
                        <li class="list-group-item">
                            <h4 th:text="${message.title}"></h4>
                            <p>Sent To : <span th:text="${message.receivedUser.username}"></span>
                                At :
                                <span th:text="${message.dateSent}" class="timeStamp"></span>
                            </p>
                        </li>
                    </div>
                </a>
            </ul>
        </div>
    </section>
    <section class="message-view" style="background-color: #E9ECEF">
        <!--        <body style="background-color: #E9ECEF">-->
        <!--        <nav th:replace="partials/navbar :: navbar"></nav>-->


        <div style="height: 100%; overflow-y: scroll">
            <div class="card w-100 h-100 d-flex justify-content-center" style="border: none">
                <div class="card-body w-100 message-card">
                    <h2 class="text-center"><span th:text="${viewMessage.title}"></span></h2>

                    <p th:if="${viewMessage.receivedUser.id == user.id}" class="text-center"> From: <span
                            th:text="${viewMessage.sentUser.username}"></span>
                    </p>

                    <p th:if="${viewMessage.sentUser.id == user.id}" class="text-center">To: <span
                            th:text="${viewMessage.receivedUser.username}"></span>
                    </p>
                    <p th:text="${viewMessage.body}" class="text-center"></p>

                    <div class="d-flex">
                        <div th:if="${(viewMessage.receivedUser.id == user.id) && !subCheck}" class="d-flex message-buttons-container">
                            <form th:method="POST" th:action="@{|/message/${viewMessage.id}/download/submission|}">
                                <button th:action="submit" class="btn btn-light">Download Submission</button>
                            </form>
                            <form th:method="POST" th:action="@{|/message/${viewMessage.id}/submission/approved|}"
                                  th:if="${user.admin}">
                                <button th:action="submit" class="btn btn-success px-2" data-toggle="modal"
                                        data-target="#approveModal">Approve Submission
                                </button>
                            </form>
                            <form th:method="POST" th:action="@{|/message/${viewMessage.id}/submission/rejected|}"
                                  th:if="${user.admin}">
                                <button th:action="submit" class="btn btn-danger">Reject Submission</button>
                            </form>
                        </div>
                    </div>

                    <div class="received-timestamp">
                        <span>Message received: </span>
                        <span th:text="${viewMessage.dateSent}" class="timeStamp ml-auto"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="approveModalTitle">Approving Submission...</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Approving submission. This page will redirect to your inbox on successful submission...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!--    <section class="new-msg-modal">-->
    <!--        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
    <!--             aria-hidden="true">-->
    <!--            <div class="modal-dialog" role="document">-->
    <!--                <div class="modal-content">-->
    <!--                    <div class="modal-header">-->
    <!--                        <h5 class="modal-title" id="exampleModalLabel">Compose a New Message</h5>-->
    <!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
    <!--                            <span aria-hidden="true">&times;</span>-->
    <!--                        </button>-->
    <!--                    </div>-->
    <!--                    <div class="modal-body">-->
    <!--                        <form id="newMsgForm" th:action="@{/message/create}" method="POST" th:object="${message}">-->
    <!--                            <div class="form-group msg-prop" th:if="${reject == null}">-->
    <!--                                <label for="toUser" class="col-form-label">Recipient:</label>-->
    <!--                                <input type="text" class="form-control" id="toUser" name="to">-->
    <!--                            </div>-->
    <!--                            <div class="form-group msg-prop" th:if="${reject != null}">-->
    <!--                                <label for="toUser" class="col-form-label">Recipient:</label>-->
    <!--                                <input type="text" class="form-control" id="reject" name="to"-->
    <!--                                       th:value="${reject.username}">-->
    <!--                            </div>-->
    <!--                            <div class="form-group msg-prop">-->
    <!--                                <label for="title" class="col-form-label">Title:</label>-->
    <!--                                <input type="text" class="form-control" id="title" th:field="*{title}">-->
    <!--                            </div>-->
    <!--                            <div class="form-group">-->
    <!--                                &lt;!&ndash;                                <label for="message-text" class="col-form-label">Message:</label>&ndash;&gt;-->
    <!--                                <textarea class="form-control msg-txt-area" id="body"-->
    <!--                                          placeholder="Enter your message here." th:field="*{body}"></textarea>-->
    <!--                            </div>-->
    <!--                        </form>-->
    <!--                    </div>-->
    <!--                    <div class="modal-footer">-->
    <!--                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>-->
    <!--                        <button type="submit" name="forgot" class="btn btn-success" form="newMsgForm">Send message-->
    <!--                        </button>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->
</main>

<footer th:replace="partials/footer :: footer"></footer>

<th:block th:replace="partials/scripts :: scripts"></th:block>
<th:block th:replace="partials/scripts :: messageNew"></th:block>
</body>
</html>