<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Messages')">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="customSwitch1">
</div>
<div>
    <h1>Sent</h1>
    <ul th:each="message : ${user.sent}">
        <li>
            <h4 th:text="${message.title}"></h4>
            <p>Sent To : <span th:text="${message.receivedUser.username}"></span>
                At :
                <span th:text="${message.dateSent}"></span>
            </p>
            <form th:action="@{/message}">
                <input type="hidden" th:value="${message.id}" name="id">
                <button>View Message</button>
            </form>
        </li>


    </ul>

    <h1>Received</h1>
    <ul th:each="message : ${user.received}">
            <div th:if="${!message.deleted}">
        <li>

            <div th:if="${!message.beenRead}">
                <p style="color: red">(Unread)</p>
            </div>
            <h4 th:text="${message.title}"></h4>
            <p>Sent From : <span th:text="${message.sentUser.username}"></span>
                At :
                <span th:text="${message.dateSent}"></span>
            </p>
                <form th:action="@{/message}">
                    <input type="hidden" th:value="${message.id}" name="id">
                    <button>View Message</button>
                </form>
            <form th:action="@{/message/delete}">
                <input type="hidden" th:value="${message.id}" name="id">
                <button>Delete Message</button>
            </form>
        </li>
</div>

    </ul>


</div>
<th:block th:replace="partials/scripts :: scripts"></th:block>
</body>
</html>