<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head('Messages')"></th:block>
    <th:block th:insert="partials/head :: message-form"></th:block>
</head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<main>
    <h1>New Message</h1>
    <div class="message-form-container">
        <div class="text-center" th:if="${reject != null}">
            <p>If you would like to give details about the rejection, fill out this form. If not, click the back
                button</p>
            <a class="btn my-3" style="background-color: #28699F; color: white" th:href="@{/}">Back
            </a>
        </div>
        <form class="mx-auto message-form" method="POST" th:action="@{/message/create}" th:object="${message}">
            <div class="form-group msg-prop" th:if="${reject == null}">
                <label for="toUser">To</label>
                <input aria-describedby="emailHelp" class="form-control" id="toUser" name="to" type="text">
            </div>
            <div class="form-group msg-prop" th:if="${reject != null}">
                <label for="toUser">To</label>
                <input aria-describedby="emailHelp" class="form-control" id="reject" name="to" th:value="${reject.username}"
                       type="text">
            </div>
            <div class="form-group msg-prop">
                <label for="title">Title</label>
                <input class="form-control" id="title" th:field="*{title}" type="text">
            </div>
            <div class="form-group">
                <!--                <label for="body">Body</label>-->
                <textarea class="form-control message-text" id="body" placeholder="Enter your message here."
                          th:field="*{body}"></textarea>
            </div>
            <button class="btn btn-success btn-block" data-target="#sendingModal" data-toggle="modal" name="forgot"
                    type="submit">Send
            </button>
        </form>

    </div>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="sendingModalTitle" class="modal fade" id="sendingModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sendingModalTitle">Sending Message...</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Sending message. This page will redirect to your inbox on successful submission...
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>

</main>

<th:block th:replace="partials/footer :: footer"></th:block>

<th:block th:replace="partials/scripts"></th:block>
</body>
</html>