<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Messages')">
</head>
<body style="background-color: #E9ECEF">
<nav th:replace="partials/navbar :: navbar"></nav>

<form th:action="@{/}" class="d-flex justify-content-center">
    <button class="btn my-3" style="background-color: #28699F; color: white">Back</button>
</form>

<div class="container" style="height: 80vh; overflow-y: scroll">
    <div class="card w-100 d-flex justify-content-center" style="background-color: #28699F">
        <div class="card-body w-100">
            <h1 class="card-title text-center" style="color: white">Sent</h1>
            <ul th:each="message : ${user.sent}" class="list-group">
                <li class="list-group-item">
                    <h4 th:text="${message.title}"></h4>
                    <p>Sent To : <span th:text="${message.receivedUser.username}"></span>
                        At :
                        <span th:text="${message.dateSent}"></span>
                    </p>
                    <a th:href="@{|/message/${message.id}|}" class="btn btn-success mr-auto">View
                        Message</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<th:block th:replace="partials/scripts :: scripts"></th:block>
</body>
</html>