<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head('Home')"></th:block>
    <th:block th:insert="${user != null} ? ~{partials/head :: sidenav} : ~{}"></th:block>

</head>
<link rel="stylesheet" href="css/submissions.css">
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<main>
    <th:block th:replace="${user != null} ? ~{partials/sideNav :: side-nav} : ~{}"></th:block>

    <section class="main-content">


        <div class="card" id="submissionCard">
            <div class="card-header text-white header-background">
                Create a Submission
            </div>
            <div class="card-body">
                <p class="card-text">To create a ETPS Submission, please select a Excel (.xlsx) spread sheet and click
                    submit. If you need the format for the Excel sheet, You can download any of the tables below and use
                the format from them.</p>
                <form th:method="POST" enctype="multipart/form-data" th:action="@{|/uploadFile|}">
                <table>
                    <tr><td>Select excel file (.xlsx):</td><td><input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" /></td></tr>
                    <tr><td></td><td><input type="submit" value="Submit" class="btn header-background" /></td></tr>
                </table>
                </form>
            </div>
        </div>


        <nav>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a aria-controls="approvedTable" aria-selected="true" class="nav-link active" data-toggle="tab"
                       href="#approvedTable"
                       role="tab">
                        <span class="badge badge-secondary">1</span> Approved Table</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="pendingTable" aria-selected="false" class="nav-link" data-toggle="tab" href="#pendingTable"
                       role="tab">
                        <span class="badge badge-secondary">2</span> Pending Table</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="expiredTable" aria-selected="false" class="nav-link" data-toggle="tab" href="#expiredTable"
                       role="tab">
                        <span class="badge badge-secondary">3</span> Expired Table</a>
                </li>
            </ul>
        </nav>

        <div class="tab-content" id="dataTables">
            <div aria-labelledby="approvedTable" class="card tab-pane fade show active" id="approvedTable"
                 role="tabpanel">
                <div class="card-header text-white header-background">
                    Approved Table
                </div>
                <div class="card-body">
                    <form th:action="@{|/download/Approved|}" th:method="POST">
                        <button th:action="submit" class="btn header-background">Download</button>
                    </form>
                    <br>
                    <table class="table table-bordered">
                        <tr th:each="approvedObj : ${approvedList}">
                            <th th:text="${approvedObj.getProviderID()}"></th>
                            <th th:text="${approvedObj.getProviderName()}"></th>
                            <th th:text="${approvedObj.getProviderDescription()}"></th>
                            <th th:text="${approvedObj.getCampusID()}"></th>
                            <th th:text="${approvedObj.getCampusName()}"></th>
                            <th th:text="${approvedObj.getProgramID()}"></th>
                            <th th:text="${approvedObj.getProgramName()}"></th>
                            <th th:text="${approvedObj.getProgramDescription()}"></th>
                            <th th:text="${approvedObj.getEtpID()}"></th>
                            <th th:text="${approvedObj.getStatus()}"></th>
                        </tr>
                    </table>
                </div>
            </div>
            <div aria-labelledby="pendingTable" class="card tab-pane fade show active" id="pendingTable"
                 role="tabpanel">
                <div class="card-header text-white header-background">
                    Pending Table
                </div>
                <div class="card-body">
                    <form th:action="@{|/download/Pending|}" th:method="POST">
                        <button th:action="submit" class="btn header-background">Download</button>
                    </form>
                    <br>
                    <table class="table table-bordered">
                        <tr th:each="pendingObj : ${pendingList}">
                            <th th:text="${pendingObj.getProviderID()}"></th>
                            <th th:text="${pendingObj.getProviderName()}"></th>
                            <th th:text="${pendingObj.getProviderDescription()}"></th>
                            <th th:text="${pendingObj.getCampusID()}"></th>
                            <th th:text="${pendingObj.getCampusName()}"></th>
                            <th th:text="${pendingObj.getProgramID()}"></th>
                            <th th:text="${pendingObj.getProgramName()}"></th>
                            <th th:text="${pendingObj.getProgramDescription()}"></th>
                            <th th:text="${pendingObj.getEtpID()}"></th>
                            <th th:text="${pendingObj.getStatus()}"></th>
                        </tr>
                    </table>
                </div>
            </div>
            <div aria-labelledby="expiredTable" class="card tab-pane fade show active" id="expiredTable"
                 role="tabpanel">
                <div class="card-header text-white header-background">
                    Expired Table
                </div>
                <div class="card-body">
                    <form th:action="@{|/download/Expired|}" th:method="POST">
                        <button th:action="submit" class="btn header-background">Download</button>
                    </form>
                    <br>
                    <table class="table table-bordered">
                        <tr th:each="expiredObj : ${expiredList}">
                            <th th:text="${expiredObj.getProviderID()}"></th>
                            <th th:text="${expiredObj.getProviderName()}"></th>
                            <th th:text="${expiredObj.getProviderDescription()}"></th>
                            <th th:text="${expiredObj.getCampusID()}"></th>
                            <th th:text="${expiredObj.getCampusName()}"></th>
                            <th th:text="${expiredObj.getProgramID()}"></th>
                            <th th:text="${expiredObj.getProgramName()}"></th>
                            <th th:text="${expiredObj.getProgramDescription()}"></th>
                            <th th:text="${expiredObj.getEtpID()}"></th>
                            <th th:text="${expiredObj.getStatus()}"></th>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <!--//    "1", new Object[]{"Provider ID", "Provider Name", "Provider Description", "Campus ID", "Campus Name",
        //            "Program ID", "Program Name", "Program Description", "ETP ID","Status"}-->


    </section>
</main>

<footer th:replace="partials/footer :: footer"></footer>

<th:block th:replace="partials/scripts :: scripts"></th:block>
</body>
</html>